@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] .box-mode {

  background-color: black;
  border-color: white;

}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}