@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] .box-mode {

  background-color: black;
  border-color: white;

}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.login_wrap {
  @apply bg-red-600/50 min-w-full min-h-full rounded-xl overflow-hidden absolute z-10 top-0 left-0
}

.login_box {
  @apply max-w-[200px] min-h-[150px] backdrop-blur-md bg-white/30 relative translate-y-1/2 rounded-xl left-1/2 -translate-x-1/2 md:min-h-[300px] md:max-w-sm
}

.login_header {
  @apply p-3 text-center text-2xl font-bold
}

.login_button {
  @apply p-4 text-center border-[2px] flex border-black text-white bg-blue-600 rounded-md w-fit mx-auto cursor-pointer
}